<html>
    <head>
        <title>microblog</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style/mystyle.css') }}">
    </head>
    <body>
        <div>
            Microblog:
			<a href="{{ url_for('post') }}">Write a Post</a>
			<a href="{{ url_for('profile') }}">Edit Profile</a>
			<a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
